
<li class="btn-open-consult">
    <p class="car-name">@@name</p>
    <div class="car-view">
        <div class="img-box"><img src="http://static.carminute.co.kr/img/carlist/@@img" alt="이미지"></div>
    </div>
    <div class="car-info-box">
        <ul class="car-info-ul">
            <li class="info-grade">
                <p class="p-name">등급</p>
                <p class="p-cont">@@grade</p>
            </li>
            <li class="info-fee">
                <p class="p-name">월요금</p>
                <p class="p-cont">@@rent_fee<span class="span-won">원</span></p>
            </li>
        </ul>
        <a class="btn-quote">오픈특가 견적보기</a>
    </div>
</li>

