<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="csrf-token" content="UIgIsA6h76IYp1ADGuF8H1mFiQ4BAorg5V6KJhal">
<meta name="description" content="개인사업자, 법인차량, 신차장기렌트카, 렌터카, 가격비교, 차량구매, 견적, 비용, 리스">

<meta property="og:type" content="website">
<meta property="og:title" content="신차장기렌트카 카민">
<meta property="og:description" content="개인사업자, 법인차량, 신차장기렌트카, 렌터카, 가격비교, 차량구매, 견적, 비용, 리스">
<meta property="og:image" content="http://static.carminute.co.kr/img/favicon.png">
<meta property="og:url" content="http://www.carminute.co.kr/">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="신차장기렌트카 카민">
<meta name="twitter:description" content="개인사업자, 법인차량, 신차장기렌트카, 렌터카, 가격비교, 차량구매, 견적, 비용, 리스">
<meta name="twitter:image" content="http://static.carminute.co.kr/img/favicon.png">
<meta name="twitter:domain" content="http://www.carminute.co.kr/">

<meta name="naver-site-verification" content="96988e96e1e66a371e8121bb80805da59540ff5e">

<title>신차장기렌트카 카민</title>
<link rel="shortcut icon" href="http://static.carminute.co.kr/img/favicon.png">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&amp;display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&amp;display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
<link rel="stylesheet" type="text/css" href="http://static.carminute.co.kr/css/fonts/gmarket_sans.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css">

<!--전용CSS-->
<link rel="stylesheet" href="http://static.carminute.co.kr/css/landing/tsla/reset.css">
<link rel="stylesheet" href="http://static.carminute.co.kr/css/landing/tsla/init.css">
<!--./전용CSS-->

<!--jquery-->
<script src="http://static.carminute.co.kr/js/libs/jquery-3.5.1.min.js"></script>
<script src="http://static.carminute.co.kr/js/libs/jquery.cookie-1.4.1.min.js"></script>
<!--./jquery-->

<!--전용JS-->
<script src="http://static.carminute.co.kr/js/landing/tsla/land_init.js"></script>
<!--./전용JS-->


</head>

<body class="body" cz-shortcut-listen="true">

<div class="land-wrap">
    <main class="land-container land-common land-main">
        
        <!--테슬러 부분-->
        <section class="sect sect-main">
            <div class="sect-container">
                <div class="img-bg">
                    <img src=" http://static.carminute.co.kr/img/landing/tesla/tsla_bg.png " alt="이미지">
                </div>
                <div class="contents-area">
                    <div class="ask-area">
                        <!-- PC -->
                        <div class="top-ment pc">
                            <img src=" http://static.carminute.co.kr/img/landing/tesla/tsla_title.png " alt="이미지">
                        </div>
                        <div class="ment-main pc">
                            <img class="pc" src="http://static.carminute.co.kr/img/landing/tesla/tsla_carpng.png"
                                alt="테슬라이미지" />
                            <img class="mobile" src="http://static.carminute.co.kr/img/popup/tesla/pop_img00.png"
                                alt="모바일 테슬라이미지" />
                            <ul class="list">
                                <li>
                                    <p class="title">모델</p>
                                    <p class="cont">테슬라모델3 롱레인지</p>
                                </li>

                                <li>
                                    <p class="title">사양</p>
                                    <p class="cont">
                                        <span>외장 : PEARL WHITE MULTI-COAT</span>
                                        <span>내장 : ALL BLACK</span>
                                        <span>휠 : 18인치 에어로휠</span>
                                    </p>
                                </li>
                                <li>
                                    <p class="title">가격</p>
                                    <p class="cont"><span>5,990만원</span> → <em>4,772</em><b>만원</b></p>
                                </li>
                            </ul>

                            <div class="in-info-area">
                                <!--PC용 입력부분-->
                                <div class="in-box">
                                    <input type="text" autocomplete='off' class="in-item in-name" placeholder="이름" >
                                    <input type="text" autocomplete='off' class="in-item in-phone" placeholder="연락처">
                                    <input type="text" autocomplete='off' class="in-item in-car" placeholder="차종" value="테슬라롱레인지3">
                                    
                                    <button type=" button" class="btn-consult2 btn-tsla btn-complete">
                                    
                                    <div class="img-box">
                                        <img class="on"
                                            src="http://static.carminute.co.kr/img/landing/car_minute/icon_btn_check_on.png"
                                            alt="아이콘 온">
                                    </div>
                                    <p class="p-txt">신청문의</p>
                                    </button>
                                </div>
                                <!--PC용 입력부분-->
                            </div>

                        </div>
                        <!-- //PC -->

                        <!-- 모바일 -->
                        <div class="m-consult-wrap-tsla">
                            <div class="pop-consult">
                                <div class="pop-area">
                                    <div class="pop-cont">
                                        <div class="logo-top">
                                            <img src="http://static.carminute.co.kr/img/popup/tesla/pop_text00.png "
                                                alt="카민단독">
                                            <img src="http://static.carminute.co.kr/img/popup/tesla/pop_text01.png "
                                                alt="테슬라 단독판매">
                                            <img src="http://static.carminute.co.kr/img/popup/tesla/pop_text02.png "
                                                alt="날짜">
                                            <img src="http://static.carminute.co.kr/img/popup/tesla/pop_img00.png "
                                                alt="출고보장">
                                        </div>
                                        <div class="bg">
                                            <ul class="pop-list">
                                                <li>
                                                    <p class="title">모델</p>
                                                    <p class="cont">테슬라모델3 롱레인지</p>
                                                </li>

                                                <li>
                                                    <p class="title">사양</p>
                                                    <p class="cont">
                                                        <span>외장 : PEARL WHITE MULTI-COAT</span>
                                                        <span>내장 : ALL BLACK</span>
                                                        <span>휠 : 18인치 에어로휠</span>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="title">가격</p>
                                                    <p class="cont"><span>5,990만원</span> → <em>4,772</em><b>만원</b>
                                                    </p>
                                                </li>
                                            </ul>
                                            <!--모바일용 입력부분-->
                                            <div class="in-box">
                                                <div>
                                                    <input type="text" autocomplete="off" placeholder="이름">
                                                    <input type="text" autocomplete="off" placeholder="차종" value="테슬라롱레인지3">
                                                </div>
                                                <input type="text" autocomplete="off" placeholder="연락처">
                                            </div>
                                            
                                            <button type="button" class="btn-consult btn-tsla btn-complete">신/청/문/의</button>
                                            
                                            <!--모바일용 입력부분-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- 모바일// -->
                        <div class="ment-all">
                            <img src="http://static.carminute.co.kr/img/landing/tesla/tsla_view.png" />
                            <div class="content">
                                <h3>롱 레인지 내부 기본사항</h3>
                                <span></span>
                                <p>방향 전동 조절형 앞 좌석 및 뒷좌석 열선 시트<br />
                                    스피커 14개, 서브우퍼 1개, 앰프 2개 및 높은 몰입도의 사운드<br />
                                    프리미엄 커넥티비티 (1년 제공)<br />
                                    Bluetooth를 연결하여 음악 및 미디어 재생, LED 안개등<br />
                                    자외선 및 적외선 보호장치를 갖춘 틴티드 글래스 루프<br />
                                    전동 조절형 열선 사이드 미러<br />
                                    사용자 지정 운전자 프로필<br />
                                    수납 공간, USB 포트 4개 및 스마트폰 도킹 2개를 갖춘 센터 콘솔<br />
                                    실내 플로어 매트
                                </p>
                            </div>
                            <div class="text">
                                <p>- Long Range모델 완충시 주행거리가 뛰어나고 가성비가 좋아 인기많은 차종입니다! -</p>
                            </div>
                            <div class="content">
                                <h3>내부 인테리어</h3>
                                <span></span>
                                <p><span>ALL BLACK </span>: 안정감이 느껴지는 검은색 내장제</p>
                                <img src="http://static.carminute.co.kr/img/landing/tesla/tsla_img00.png"
                                    alt="내부1" />
                                <img src="http://static.carminute.co.kr/img/landing/tesla/tsla_img01.png"
                                    alt="내부2" />
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!--.//테슬러 부분-->

        <section class="sect sect-footer">
            <div class="sect-container">
                <div class="footer-top">
                    <div class="logo">
                        <img src="http://static.carminute.co.kr/img/landing/car_minute/logo_white.png" alt="로고">
                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="copy-area">
                        <p class="copy-company">
                            (주)이비즈네트웍스 대표이사 : 박기범 I 대표전화: 02-6255-3313<br>
                            서울특별시 강남구 테헤란로82길 15,(대치동, 디아이 타워) I 사업자등록번호 : 220-87-30865<br>
                            통신판매업신고번호 : 제 강남-11501호
                        </p>
                        <p class="copy-company">
                            (주)이비즈에셋 대표이사 : 김영배 I 대표전화: 02-6255-3313<br>
                            강원도 고성군 죽왕면 삼포리 243-13 2층 237호 I 사업자등록번호 : 865-87-00164<br>
                            통신판매업신고번호 : 제 2019-강원 고성군-60호
                        </p>
                    </div>
                    <a href="https://open.kakao.com/o/sZJy4m0c" class="btn-kakao" target="_blank">
                        <img src="http://static.carminute.co.kr/img/landing/car_minute/btn_banner_kakao.png"
                            alt="카카오">
                    </a>
                </div>
            </div>
        </section>

        <!--완료박스-->
        <div class="modal-complete-request">
            <div class="complete-area">
                <button type="button" class="btn-close-complete">
                    <img class="show-pc"
                        src="http://static.carminute.co.kr/img/landing/car_minute/btn_close_modal.png" alt="닫기">
                    <img class="show-mobile"
                        src="http://static.carminute.co.kr/img/landing/car_minute/btn_close_modal02.png" alt="닫기">
                </button>
                <div class="top-logo">
                    <img src="http://static.carminute.co.kr/img/landing/car_minute/complete_top_logo.png" alt="로고">
                </div>
                <div class="message-main">
                    <p class="txt-pc">상담요청이 완료되었습니다</p>
                    <p class="txt-mobile">상담요청 완료!</p>
                </div>

                <div class="line-bar"></div>
                <p class="message-sub">
                    <span id="sname" class="name">이비즈</span>님 전문상담원이 <br><span id="scar"
                        class="car">그랜저</span>차종<br>
                    <span id="stel" class="phone">010-1234-5678</span>으로<br>
                    <span class="mark">빠르게 연락</span>드리겠습니다.
                </p>
                <a href="/" class="btn-go-complte">확 인</a>
            </div>
        </div>
        <!--완료박스-->

        <script>
            $(document).on("keyup", ".phone", function () {
                prev = $(this).val();
                str = prev.replace(/[^0-9]/g, "").replace(/(^02|^0505|^01.{1}|^0[0-9]{2})([0-9]+)?([0-9]{4})/, "$1-$2-$3").replace("--", "-");
                $(this).val(str);
            });

            $(document).ready(function () {
                $(".modal-complete-request .btn-close-complete").on("click", function () {
                    $("body").removeClass("overflow-hidden");
                    $(".modal-complete-request").hide();
                });
            });

            var car = {
                rent: function (a) {
                    fm = (a == 1) ? "rent" : "banner";
                    name = (a == 1) ? "name" : "rname";
                    tel = (a == 1) ? "tel" : "rtel";
                    motor = (a == 1) ? "car" : "rcar";

                    if (!$("input[name=" + name + "]").val()) {
                        alert("이름을 입력해주세요.");
                        $("input[name=" + name + "]").focus();
                        return;
                    }

                    if (!$("input[name=" + tel + "]").val()) {
                        alert("연락처를 입력해주세요.");
                        $("input[name=" + tel + "]").focus();
                        return;
                    }

                    if (!$("input[name=" + motor + "]").val()) {
                        alert("차종을 입력해주세요.");
                        $("input[name=" + motor + "]").focus();
                        return;
                    }

                    if ($('#in-agree').hasClass('check-agree')) {
                        if ($('#in-agree').is(":checked") == false) {
                            alert('개인정보 수집에 동의 해주세요.');
                            $('#in-agree').focus();
                            return;
                        }
                    }


                    $.ajaxSetup({
                        headers: {
                            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                        }
                    });

                    $.ajax({
                        type: 'post',
                        data: $('#' + fm).serialize(),
                        url: '/ajax/rent/estimate',
                        success: function (r) {
                            var data = $.parseJSON(r);

                            $("#sname").html(data.name);
                            $("#stel").html(data.tel);
                            $("#scar").html(data.car);

                            $("body").addClass("overflow-hidden");
                            $(".modal-complete-request").show();
                        }
                    });
                }
            }
        </script>
        <aside class="side-sect-right">
            <div class="side-area-consult">
                <div class="top-title-box">
                    <div class="icon-tel">
                        <img src="http://static.carminute.co.kr/img/landing/car_minute/icon_tel.png" alt="아이콘">
                    </div>
                    <p class="title">빠른상담신청</p>
                </div>
                <form id="banner" method="post">
                    <input type="hidden" name="_token" value="UIgIsA6h76IYp1ADGuF8H1mFiQ4BAorg5V6KJhal"> <input
                        type="hidden" name="pid" value="cm_shop_n_00062">
                    <input type="hidden" name="temp" value="2">
                    <div class="in-consult-box">
                        <input type="text" name="rname" placeholder="이름">
                        <input type="text" name="rtel" class="phone" placeholder="연락처">
                        <input type="text" name="rcar" placeholder="관심차종 모두입력">
                    </div>
                </form>
                <div class="policy-box">
                    <p class="policy-txt">
                        <span>개인정보 수집 동의</span>
                        <span class="btn-show-policy btn-open-policy">[보기]</span>
                    </p>
                </div>
                <a onclick="car.rent(2)" class="btn-request-consult">상담신청하기</a>
                <p class="p-tel">02-6255-3133</p>
            </div>
        </aside>

        <div class="modal-privacy-policy">
            <div class="policy-area">
                <button type="button" class="btn-close-policy">
                    <img src="http://static.carminute.co.kr/img/landing/car_minute/btn_close_modal.png" alt="닫기">
                </button>
                <pre class="policy-textarea"><span class="tit">개인정보 활용 정책</span>

1. 개인정보의 수집목적 및 이용
가. 다음과 같은 목적을 위하여 고객님의 개인정보를 수집 및 이용하고 있습니다.
    - 장기렌터카 및 자동차리스  견적상담 및 관련 서비스 제공

2. 수집하는 개인정보 항목
가. 개인정보 항목 - 이름, 핸드폰번호,관심차종
나. 수집방법 - 동의 체크박스에 클릭할 경우, 개인정보수집에 동의한 것으로 간주합니다

3. 개인정보의 보유 및 이용기간
가. 이용자가 제공하는 개인정보는 최종 상담일로부터 1년후 더 이상의 상담이 이뤄지지 않으면 파기합니다.
나. 이용자가 개인정보의 파기를 요청하는경우  해당 이용자의 개인정보를 파기합니다.
    </pre>
            </div>
        </div>
        <!--정책박스-->
        <div class="pop-policy-wrap">
            <div class="pop-policy">
                <div class="policy-area">
                    <pre class="policy-textarea"><span class="tit-main">개인정보 활용정책 내용</span>

<span class="tit">1. 개인정보의 수집목적 및 이용</span>
가. 다음과 같은 목적을 위하여 고객님의 개인정보를 수집 및 이용하고 있습니다.
    - 장기렌터카 및 자동차리스  견적상담 및 관련 서비스 제공

<span class="tit">2. 수집하는 개인정보 항목</span>
가. 개인정보 항목 - 이름, 핸드폰번호,관심차종
나. 수집방법 - 동의 체크박스에 클릭할 경우, 개인정보수집에 동의한 것으로 간주합니다

<sapn class="tit">3. 개인정보의 보유 및 이용기간</sapn>
가. 이용자가 제공하는 개인정보는 최종 상담일로부터 1년후 더 이상의 상담이 이뤄지지 않으면 파기합니다.
나. 이용자가 개인정보의 파기를 요청하는경우  해당 이용자의 개인정보를 파기합니다.
</pre>
                </div>
                <button type="button" class="btn-close-policy">닫기</button>
            </div>

        </div>
        <!--./정책박스-->

        <script>
            $(document).ready(function () {
                //==정책박스==
                $(".btn-open-policy").on("click", function () {
                    $("body").addClass("overflow-hidden2");
                    $(".pop-policy-wrap").show();
                });
                $(".pop-policy-wrap .btn-close-policy").on("click", function () {
                    $("body").removeClass("overflow-hidden2");
                    $(".pop-policy-wrap").hide();
                });
                //.//==정책박스==

                //==빠른상담신청==
                $(".btn-open-consult").on("click", function () {
                    $("body").addClass("overflow-hidden");
                    $(".pop-consult-wrap").show();
                });
                $(".pop-consult-wrap .btn-close-pop").on("click", function () {
                    $("body").removeClass("overflow-hidden");
                    $(".pop-consult-wrap").hide();
                });
                //.//==빠른상담신청==

                //==완료박스==
                $(".btn-complete").on("click", function () {
                    $("body").addClass("overflow-hidden");
                    $(".modal-complete-request").show();
                });

                $(".modal-complete-request .btn-close-pop").on("click", function () {
                    $("body").removeClass("overflow-hidden");
                    $(".modal-complete-request").hide();
                    //빠른상담신청도 켜져 있으면 같이 꺼짐.
                    if ($(".pop-consult-wrap").css("display") == "block") {
                        $(".pop-consult-wrap").hide();
                    }
                });
                //.//==완료박스==


            });
        </script>

        <!--모바일 바텀버튼(2021_0402)-->
        <div class="btn-bottom-sect show-mobile">
            <div class="btn-area">
                <a href="tel:02-6255-3133" class="btn btn-tel">
                    <div class="icon"><img src="http://static.carminute.co.kr/img/common/icon_tel.png" alt="아이콘"></div>
                </a>
                <a class="btn btn-estimate btn-move-quote">
                    <div class="icon"><img src="http://static.carminute.co.kr/img/common/icon_paper.png" alt="이미지"></div>
                    <p class="p-txt">견적요청</p>
                </a>
                <a href="https://open.kakao.com/o/sZJy4m0c" class="btn btn-kakao" target="_blank">
                    <div class="icon"><img src="http://static.carminute.co.kr/img/common/icon_kakao.png" alt="이미지"></div>
                    <p class="p-txt">카톡상담</p>
                </a>
            </div>
        </div>
        <!--./모바일 바텀버튼(2021_0402)-->
    </main>
</div>


<iframe frameborder="0" scrolling="no" style="background-color: transparent; border: 0px; display: none;"></iframe><div id="GOOGLE_INPUT_CHEXT_FLAG" input="" input_stat="{&quot;tlang&quot;:true,&quot;tsbc&quot;:true,&quot;pun&quot;:true,&quot;mk&quot;:true,&quot;ss&quot;:true}" style="display: none;"></div>
</body>
</html>