@@include('./_land_inc/_land_head_top.html')

</head>
<body class="body">
    <div class="land-wrap">
        <main class="land-container land-common land-main">
            <!--테슬러 부분-->
            <section class="sect sect-main">
                <div class="sect-container">
                    <div class="img-bg">
                        <img src=" http://static.carminute.co.kr/img/landing/tesla/tsla_bg.png " alt="이미지">
                    </div>
                    <div class="contents-area">
                        <div class="ask-area">
                            <!-- PC -->
                            <div class="top-ment pc">
                                <img src=" http://static.carminute.co.kr/img/landing/tesla/tsla_title.png " alt="이미지">
                            </div>
                            <div class="ment-main pc">
                                <img class="pc" src="http://static.carminute.co.kr/img/landing/tesla/tsla_carpng.png"
                                    alt="테슬라이미지" />
                                <img class="mobile" src="http://static.carminute.co.kr/img/popup/tesla/pop_img00.png"
                                    alt="모바일 테슬라이미지" />
                                <ul class="list">
                                    <li>
                                        <p class="title">모델</p>
                                        <p class="cont">테슬라모델3 롱레인지</p>
                                    </li>

                                    <li>
                                        <p class="title">사양</p>
                                        <p class="cont">
                                            <span>외장 : PEARL WHITE MULTI-COAT</span>
                                            <span>내장 : ALL BLACK</span>
                                            <span>휠 : 18인치 에어로휠</span>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="title">가격</p>
                                        <p class="cont"><span>5,990만원</span> → <em>4,772</em><b>만원</b></p>
                                    </li>
                                </ul>

                                <div class="in-info-area">
                                    <!--PC용 입력부분-->
                                    <div class="in-box">
                                        <input type="text" class="in-item in-name" placeholder="이름" autocomplete='off'>
                                        <input type="text" class="in-item in-phone" placeholder="연락처">
                                        <input type="text" class="in-item in-car" placeholder="차종" value="테슬라롱레인지3">
                                    <button type=" button" class="btn-consult2 btn-complete btn-tsla">
                                        <div class="img-box">
                                            <img class="on"
                                                src="http://static.carminute.co.kr/img/landing/car_minute/icon_btn_check_on.png"
                                                alt="아이콘 온">
                                        </div>
                                        <p class="p-txt">신청문의</p>
                                        </button>
                                    </div>
                                    <!--PC용 입력부분-->
                                </div>

                            </div>
                            <!-- //PC -->

                            <!-- 모바일 -->
                            <div class="m-consult-wrap-tsla">
                                <div class="pop-consult">
                                    <div class="pop-area">
                                        <div class="pop-cont">
                                            <div class="logo-top">
                                                <img src="http://static.carminute.co.kr/img/popup/tesla/pop_text00.png "
                                                    alt="카민단독">
                                                <img src="http://static.carminute.co.kr/img/popup/tesla/pop_text01.png "
                                                    alt="테슬라 단독판매">
                                                <img src="http://static.carminute.co.kr/img/popup/tesla/pop_text02.png "
                                                    alt="날짜">
                                                <img src="http://static.carminute.co.kr/img/popup/tesla/pop_img00.png "
                                                    alt="출고보장">
                                            </div>
                                            <div class="bg">
                                                <ul class="pop-list">
                                                    <li>
                                                        <p class="title">모델</p>
                                                        <p class="cont">테슬라모델3 롱레인지</p>
                                                    </li>

                                                    <li>
                                                        <p class="title">사양</p>
                                                        <p class="cont">
                                                            <span>외장 : PEARL WHITE MULTI-COAT</span>
                                                            <span>내장 : ALL BLACK</span>
                                                            <span>휠 : 18인치 에어로휠</span>
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p class="title">가격</p>
                                                        <p class="cont"><span>5,990만원</span> → <em>4,772</em><b>만원</b>
                                                        </p>
                                                    </li>
                                                </ul>
                                                <!--모바일용 입력부분-->
                                                <div class="in-box">
                                                    <div>
                                                        <input type="text" autocomplete="off" placeholder="이름">
                                                        <input type="text" autocomplete="off" placeholder="차종" value="테슬라롱레인지3">
                                                    </div>
                                                    <input type="text" autocomplete="off" placeholder="연락처">
                                                </div>
                                                <button type="button" class="btn-consult btn-complete btn-tsla">신/청/문/의</button>
                                                <!--모바일용 입력부분-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- 모바일// -->
                            <div class="ment-all">
                                <img src="http://static.carminute.co.kr/img/landing/tesla/tsla_view.png" />
                                <div class="content">
                                    <h3>롱 레인지 내부 기본사항</h3>
                                    <span></span>
                                    <p>방향 전동 조절형 앞 좌석 및 뒷좌석 열선 시트<br />
                                        스피커 14개, 서브우퍼 1개, 앰프 2개 및 높은 몰입도의 사운드<br />
                                        프리미엄 커넥티비티 (1년 제공)<br />
                                        Bluetooth를 연결하여 음악 및 미디어 재생, LED 안개등<br />
                                        자외선 및 적외선 보호장치를 갖춘 틴티드 글래스 루프<br />
                                        전동 조절형 열선 사이드 미러<br />
                                        사용자 지정 운전자 프로필<br />
                                        수납 공간, USB 포트 4개 및 스마트폰 도킹 2개를 갖춘 센터 콘솔<br />
                                        실내 플로어 매트
                                    </p>
                                </div>
                                <div class="text">
                                    <p>- Long Range모델 완충시 주행거리가 뛰어나고 가성비가 좋아 인기많은 차종입니다! -</p>
                                </div>
                                <div class="content">
                                    <h3>내부 인테리어</h3>
                                    <span></span>
                                    <p><span>ALL BLACK </span>: 안정감이 느껴지는 검은색 내장제</p>
                                    <img src="http://static.carminute.co.kr/img/landing/tesla/tsla_img00.png"
                                        alt="내부1" />
                                    <img src="http://static.carminute.co.kr/img/landing/tesla/tsla_img01.png"
                                        alt="내부2" />
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <!--.//테슬러 부분-->
            @@include('./_land_inc/_land_footer.html')
            @@include('./_land_inc/_land_side.html')
            @@include('./_land_inc/_land_popup.html')
            @@include('./_land_inc/_land_bottom_btn_m.html')
        </main>
    </div>
</body>
</html>