<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>랜드</title>
</head>
<style>
    .main{
        padding-top: 120px;
        padding-left: 60px;
    }
    .main a{
        
        margin-bottom: 40px;
        font-size: 20px;
        display: block;
        
    }
</style>
<body>
    <div class="main">
        <a href="./car_minute/">카민</a>
        <a href="./allyourcar/">올유어카</a>
        <a href="./meloncar/">멜론카</a>
    </div>
</body>
</html>