@@include('./_land_inc/_land_head_top.html')

</head>
<body class="body">
    <div class="land-wrap">
        <main class="land-container land-common land-main">
            <section class="sect sect-main">
                <div class="sect-container">
                    <div class="img-bg">
                        <img src="http://static.carminute.co.kr/img/landing/car_minute/bg_main.png" alt="이미지">
                    </div>
                    <div class="contents-area">
                        <div class="ask-area">
                            <a href="./info_input.html" class="btn-close show-mobile">
                                <img src="http://static.carminute.co.kr/img/landing/car_minute/btn_close.png" alt="닫기버튼">
                            </a>
                            <div class="top-ment">
                                <img src="http://static.carminute.co.kr/img/landing/car_minute/top_ment.png" alt="이미지">
                            </div>
                            <div class="ment-main">
                                <p class="txt-box txt-pc">
                                    <span class="m-block">최저가 견적<span class="color-violet">은 </span></span><ruby class="color-pink">
                                        꼼<rt>●</rt>
                                    </ruby><ruby class="color-marin">
                                        수<rt>●</rt>
                                    </ruby>였다!
                                </p>
                            </div>
                            <div class="ment-ask">
                                <p class="txt-box txt-pc">
                                    <sapn class="span-q">Q.</sapn><span class="span-strong">보증금, 선수금, 견적</span>에 꼼수가 있다는 사실,<br>
                                     <span class="span-strong">알고 계신가요?</span>
                                </p>
                            </div>
                            <div class="choose-area">
                                <a href="./sub01.html" class="choose-btn btn-yes">
                                    <div class="img-box">
                                        <img class="on" src="http://static.carminute.co.kr/img/landing/car_minute/icon_btn_check_on.png" alt="아이콘 온">
                                        <img class="off" src="http://static.carminute.co.kr/img/landing/car_minute/icon_btn_check_off.png" alt="아이콘 오프">
                                    </div>
                                    <p class="p-txt">예</p>
                                </a>
                                <a href="./sub01.html" class="choose-btn btn-no">
                                    <div class="img-box">
                                        <img class="on" src="http://static.carminute.co.kr/img/landing/car_minute/icon_btn_check_on.png" alt="아이콘 온">
                                        <img class="off" src="http://static.carminute.co.kr/img/landing/car_minute/icon_btn_check_off.png" alt="아이콘 오프">
                                    </div>
                                    <p class="p-txt">아니오</p>
                                </a>
                            </div>
                            <a href="./info_input.html" class="btn-skip show-pc">
                                <p class="p-txt">건너뛰기<span class="icon-arrow-duble">▶▶</span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            @@include('./_land_inc/_land_footer.html')
            @@include('./_land_inc/_land_side.html')
            @@include('./_land_inc/_land_bottom_btn_m.html')
           
        </main>
    </div>
</body>
</html>