@@include('./_land_inc/_land_head_top.html')

</head>
<body class="body">
    <div class="land-wrap">
        <main class="land-container land-common land-info-input">
            <section class="sect sect-info-input">
                <div class="sect-container">
                    <div class="img-bg">
                        <img src="http://static.carminute.co.kr/img/landing/car_minute/bg_info_input.png" alt="이미지">
                    </div>
                    <div class="contents-area">
                        <div class="ask-area">
                            <div class="top-ment">
                                <img src="http://static.carminute.co.kr/img/landing/car_minute/top_ment.png" alt="이미지">
                            </div>
                            <div class="ment-main">
                                <p class="txt-box txt-pc">
                                    <span class="m-block">
                                        <ruby class="color-pink">
                                            이<rt>●</rt>
                                        </ruby><ruby class="color-pink">
                                            름<rt>●</rt>
                                        </ruby><span class="color-violet">,</span>
                                        <ruby class="color-marin">
                                            연<rt>●</rt>
                                        </ruby><ruby class="color-marin">
                                            락<rt>●</rt>
                                        </ruby><ruby class="color-marin">
                                            처<rt>●</rt>
                                        </ruby><span class="color-violet">,</span>
                                    </span>
                                    <span class="m_block">
                                        <ruby class="color-hotpink">
                                            차<rt>●</rt>
                                        </ruby><ruby class="color-hotpink">
                                            종<rt>●</rt>
                                        </ruby><span class="color-violet">을</span>
                                        알려주세요
                                    </span>
                                </p>
                            </div>
                            <div class="ment-ask">
                                <p class="txt-box txt-pc">
                                    카민은 당신의 개인정보를 보호합니다.
                                </p>
                            </div>
                            <div class="in-info-area">
                                <div class="in-box">
                                    <input type="text" class="in-item in-name" placeholder="이름" autocomplete='off'>
                                    <input type="text" class="in-item in-phone" placeholder="연락처">
                                    <input type="text" class="in-item in-car" placeholder="차종">
                                </div>
                                <button type="button" class="btn-complete">
                                    <div class="img-box">
                                        <img class="on" src="http://static.carminute.co.kr/img/landing/car_minute/icon_btn_check_on.png" alt="아이콘 온">
                                        <img class="off" src="http://static.carminute.co.kr/img/landing/car_minute/icon_btn_check_off.png" alt="아이콘 오프">
                                    </div>
                                    <p class="p-txt">확인</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @@include('./_land_inc/_land_footer.html')
            @@include('./_land_inc/_land_side.html')
            @@include('./_land_inc/_land_bottom_btn_m.html')
            
        </main>
        
       
    </div>
</body>
</html>