@@include('./_land_inc/_land_head_top.html')

</head>
<body class="body">
    <div class="land-wrap">
        <main class="land-container land-common land-sub02">
            <section class="sect sect-sub02">
                <div class="sect-container">
                    <div class="img-bg">
                        <img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/car_minute/bg_sub02.png" alt="이미지">
                    </div>
                    <div class="contents-area">
                        <div class="ask-area">
                            <a href="./info_input.html" class="btn-close show-mobile">
                                <img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/car_minute/btn_close.png" alt="닫기버튼">
                            </a>
                            <div class="top-ment">
                                <img src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/car_minute/top_ment.png" alt="이미지">
                            </div>
                            <div class="ment-main">
                                <p class="txt-box">
                                    <span class="m-block">진짜
                                        <ruby class="color-pink">
                                            최<rt>●</rt>
                                        </ruby><ruby class="color-marin">
                                            저<rt>●</rt>
                                        </ruby><ruby class="color-violet">
                                            가<rt>●</rt>
                                        </ruby>는</span>
                                        <span class="m-block">따로 있다!</span>
                                </p>
                            </div>
                            <div class="ment-ask">
                                <p class="txt-box">
                                    <sapn class="span-q">Q.</sapn><span class="span-strong">영업사원, 딜러</span>에게만 공개되는<br>
                                    진짜 최저가 견적 지금 <span class="span-strong">받아보시겠어요?</span>
                                </p>
                            </div>
                            <div class="choose-area">
                                <a href="./info_input.html" class="choose-btn btn-yes">
                                    <div class="img-box">
                                        <img class="on" src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/car_minute/icon_btn_check_on.png" alt="아이콘 온">
                                        <img class="off" src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/car_minute/icon_btn_check_off.png" alt="아이콘 오프">
                                    </div>
                                    <p class="p-txt">예</p>
                                </a>
                                <a href="./info_input.html" class="choose-btn btn-no">
                                    <div class="img-box">
                                        <img class="on" src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/car_minute/icon_btn_check_on.png" alt="아이콘 온">
                                        <img class="off" src="http://design.ebiznetworks.co.kr/lhc/rent_car/img/landing/car_minute/icon_btn_check_off.png" alt="아이콘 오프">
                                    </div>
                                    <p class="p-txt">아니오</p>
                                </a>
                            </div>
                            <a href="./info_input.html" class="btn-skip show-pc">
                                <p class="p-txt">건너뛰기<span class="icon-arrow-duble">▶▶</span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            @@include('./_land_inc/_land_footer.html')
            @@include('./_land_inc/_land_side.html')
            @@include('./_land_inc/_land_bottom_btn_m.html')
        </main>
        
    </div>
</body>
</html>