<header class="header">
    <section class="sect-header">
        <div class="header-area">
            <div class="top-logo-area">
                <a href="./index.html" class="top-logo">
                    <div class="logo-box show-pc"><img src="http://static.carminute.co.kr/img/common/top_logo.png" alt="로고"></div>
                    <div class="logo-box show-mobile"><img src="http://static.carminute.co.kr/img/common/top_logo_m.png" alt="로고"></div>
                </a>
            </div>
            <nav class="menu-area">
                <ul class="main-menu-ul">
                    <li><a data-move-anchor="sect-intro" class="active">장기렌터카 안내</span></a></li>
                    <li><a data-move-anchor="sect-advantage04">계약안내</a></li>
                    <li><a data-move-anchor="sect-carlist">추천/인기차종</a></li>
                    <li class="show-pc"><a  data-move-anchor="sect-qna">장기렌트FAQ</a></li>
                    <li><a class="btn-open-consult">견적요청</a></li>
                </ul>
            </nav>
            <div class="top-tel">
                <div class="icon-tel">
                    <!-- <img src="http://static.carminute.co.kr/img/common/icon_tel.png" alt="아이콘"> -->
                    <div class="img-box"><img src="http://static.carminute.co.kr/img/common/icon_tel.png" alt="아이콘"></div>
                    <p class="tel-txt">전화상담</p>
                </div>
                <p class="p-tel-num">02)6255-3133</p>
            </div>
        </div>
    </section>
</header>


