.wrap-main .sect-shoping{
    background-color: #000;
    padding-top: 58px;
    padding-bottom: 74px;
    border-bottom: 1px solid #333;
    .shoping-area{
        // padding: 0 46px;
        // padding-top: 32px;
        // padding-bottom: 38px;
        padding: 46px;
        background-color: #4d4d4d;
        display: flex;
        justify-content: space-between;
        *{
            color: #fff;
        }
        .car-view-box{
            width: 490px;
            .car-viewer{
                background-color: #23262a;
                width: 100%;
                // height: 490px;
                height: 100%;
                padding-top: 170px;
                overflow: hidden;
                .img-box{
                    
                }
            }
        }

        .car-info-box{
            margin-left: 26px;
            width: 502px;
            .car-name{
                font-size: 28px;
                font-weight: 500;
                letter-spacing: -0.6px;
                
            }
            .car-info-ul{
                margin-top: 25px;
                border-top:2px solid #c4c4c4;
                &>li{
                    padding: 0 18px;
                    padding-top: 15px;
                    padding-bottom: 11px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #c4c4c4;
                    p{
                        
                        letter-spacing: -0.7px;
                    }
                    .p-name{
                        font-size: 17px;
                        font-weight: 700;
                    }
                    .p-cont{
                        font-size: 20px;
                        font-weight: 500;
                    }

                    &:nth-last-of-type(2){
                        border-bottom: none;
                    }
                }
                
                li.info-fee{
                    background-color: #fff;
                    border-bottom: none;
                    border-top:1px solid #c4c4c4;
                    .p-name{
                        color: #505050;
                    }
                    .p-cont{
                        color: #a414ce;
                        font-size: 30px;
                        font-weight: 700;
                        .span-won{
                            color: #a414ce;
                            font-size: 20px;
                            font-weight: 500;
                        }
                    }

                }
            }
            .car-notice{
                margin-top: 22px;
                p{
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 1.6;
                    letter-spacing: -0.7px;
                }
                
            }

            .btn-quote{
                margin-top: 22px;
                width: 100%;
                background: linear-gradient(90deg, #a34bb9, #743bca);
                font-size: 30px;
                font-weight: 500;
                letter-spacing: -1px;
                height: 60px;
                border-radius: 30px;
                padding-top: 4px;
            }
        }

    }
}

@media(max-width:900px){
    .wrap-main .sect-shoping{
        background-color: #000;
        padding-top: 0;
        padding-bottom: 0;
        .shoping-area{
            padding: 0;
            padding-bottom: 38px;
            background-color: #4d4d4d;
            display: block;
            justify-content: space-between;
            *{
                color: #fff;
            }
            .car-view-box{
                width: 100%;
                .car-viewer{
                    background-color: #23262a;
                    width: 100%;
                    height: 46.0rem;
                    padding-top: 9.0rem;
                    overflow: hidden;
                    .img-box{
                        width: 82%;
                        margin: 0 auto;
                    }
                }
            }
    
            .car-info-box{
                width: 80%;
                margin: 0 auto;
                margin-top: 5.2rem;
                .car-name{
                    font-size: 4.0rem;
                    font-weight: 500;
                    text-align: center;
                }
                .car-info-ul{
                    margin-top: 3.2rem;
                    border-top:2px solid #c4c4c4;
                    &>li{
                        padding: 0 1.8rem;
                        padding-top: 1.8rem;
                        padding-bottom: 1.2rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid #c4c4c4;
                        p{
                            
                        }
                        .p-name{
                            font-size: 2.4rem;
                            font-weight: 500;
                        }
                        .p-cont{
                            font-size: 2.6rem;
                        }

                        &:nth-last-of-type(2){
                            border-bottom: none;
                        }
                    }
                    
                    li.info-fee{
                        .p-name{
                            font-size: 2.8rem;
                        }
                        .p-cont{
                            font-size: 3.5rem;
                            .span-won{
                                font-size: 2.3rem;
                                
                            }
                        }
    
                    }
                }
                .car-notice{
                    margin-top: 2.2rem;
                    p{
                        font-size: 2.2rem;
                        
                    }
                    
                }
    
                .btn-quote{
                    margin-top: 2.4rem;
                    font-size: 3.8rem;
                    letter-spacing: -1px;
                    height: 8.0rem;
                    border-radius: 4.0rem;
                    padding-top: 0.4rem;
                }
            }
    
        }
    }   
}