@@include('../include/_head_top.html')
@@include('./_top_cssjs.html')


</head>
<body>
    <div class="wrap">
        @@include('../include/_header.html')
        <main class="wrap-container wrap-main">
            <!--지식쇼핑부분-->
            <section class="sect sect-shoping">
                <div class="contents">
                    <div class="sect-container">
                        <div class="shoping-area">
                            <div class="car-view-box">
                                <div class="car-viewer">
                                    <div class="img-box"><img src="http://static.carminute.co.kr/img/carlist/hyundai/avante.png" alt="이미지"></div>
                                </div>
                            </div>
                            <div class="car-info-box">
                                <p class="car-name">신차장기렌트카 카니발</p>
                                <ul class="car-info-ul">
                                    <li class="info-brand">
                                        <p class="p-name">제조사</p>
                                        <p class="p-cont">기아자동차</p>
                                    </li>
                                    <li class="info-name">
                                        <p class="p-name">차명</p>
                                        <p class="p-cont">카니발 KA4</p>
                                    </li>
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">RV</p>
                                    </li>
                                    <li class="info-date">
                                        <p class="p-name">출시년도</p>
                                        <p class="p-cont">2021</p>
                                    </li>
                                    <li class="info-date">
                                        <p class="p-name">정상가</p>
                                        <p class="p-cont">476,077원</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">프로모션 월요금</p>
                                        <p class="p-cont">204,620
                                            <span class="span-won">원</span>
                                        </p>
                                    </li>
                                </ul>
                                <div class="car-notice">
                                    <p>● 기준 : 할부 48개월 / 선수금 40% / 부가세 포함</p>
                                    <p>■ 포함항목 : 등록세, 취득세, 자동차세, 보험료 및 기타</p>
                                    <p>■ 본 견적은 보증금 & 선수금이 적용된 월평균 납입 예상요금입니다.</p>
                                </div>
                                <button type="button" class="btn-quote btn-open-consult">최저가 견적요청</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--.//지식쇼핑부분-->
            @@include('./_contents.html')
             
        </main>
        @@include('./_side_cont.html')
       

        @@include('../include/_footer.html')
    </div>
</body>
</html>