<!DOCTYPE html>
<html lang="ko"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="USZFYCLjhlP0QbW4HRuJFjQZNxeGzXaFaWKk24p2">
    <meta name="description" content="개인사업자, 법인차량, 신차장기렌트카, 렌터카, 가격비교, 차량구매, 견적, 비용, 리스">

    <meta property="og:type" content="website">
    <meta property="og:title" content="신차장기렌트카 카민">
    <meta property="og:description" content="개인사업자, 법인차량, 신차장기렌트카, 렌터카, 가격비교, 차량구매, 견적, 비용, 리스">
    <meta property="og:image" content="http://static.carminute.co.kr/img/favicon.png">
    <meta property="og:url" content="http://www.carminute.co.kr/">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="신차장기렌트카 카민">
    <meta name="twitter:description" content="개인사업자, 법인차량, 신차장기렌트카, 렌터카, 가격비교, 차량구매, 견적, 비용, 리스">
    <meta name="twitter:image" content="http://static.carminute.co.kr/img/favicon.png">
    <meta name="twitter:domain" content="http://www.carminute.co.kr/">

    <meta name="naver-site-verification" content="96988e96e1e66a371e8121bb80805da59540ff5e">

    <title>신차장기렌트카 카민</title>

    <link rel="shortcut icon" href="http://static.carminute.co.kr/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <link rel="stylesheet" type="text/css" href="http://static.carminute.co.kr/css/fonts/gmarket_sans.css">
    <link rel="stylesheet" type="text/css" href="http://static.carminute.co.kr/css/fonts/NanumBarunGothic.css">

    <link rel="stylesheet" href="http://static.carminute.co.kr/css/reset.css">
    <link rel="stylesheet" href="http://static.carminute.co.kr/css/common.css">
    <link rel="stylesheet" href="http://static.carminute.co.kr/css/main/init.css">

    <script src="http://static.carminute.co.kr/js/libs/jquery-3.5.1.min.js"></script>
    <script src="http://static.carminute.co.kr/js/common/common.js"></script>
    <script src="http://static.carminute.co.kr/js/main/event_list.js"></script>
    <script src="http://static.carminute.co.kr/js/main/init.js"></script>
</head>

<body cz-shortcut-listen="true">
<div class="wrap">
    <header class="header">
        <section class="sect-header">
            <div class="header-area">
                <div class="top-logo-area">
                    <a href="/" class="top-logo">
                        <div class="logo-box show-pc"><img src="http://static.carminute.co.kr/img/common/top_logo.png" alt="로고"></div>
                        <div class="logo-box show-mobile"><img src="http://static.carminute.co.kr/img/common/top_logo_m.png" alt="로고"></div>
                    </a>
                </div>
                <nav class="menu-area">
                    <ul class="main-menu-ul">
                        <li><a data-move-anchor="sect-intro" class="active">장기렌터카 안내</a></li>
                        <li><a data-move-anchor="sect-advantage04">계약안내</a></li>
                        <li><a data-move-anchor="sect-carlist">추천/인기차종</a></li>
                        <li class="show-pc"><a data-move-anchor="sect-qna">장기렌트FAQ</a></li>
                        <li><a class="btn-open-consult">견적요청</a></li>
                    </ul>
                </nav>
                <div class="top-tel">
                    <div class="icon-tel">
                        <img src="http://static.carminute.co.kr/img/common/icon_tel.png" alt="아이콘">
                    </div>
                    <p class="p-tel-num">02)6255-3133</p>
                </div>
            </div>
        </section>
    </header>



    <main class="wrap-container wrap-main">
            <section class="sect sect-intro">
    <div class="contents">
        <div class="sect-container">
            <div class="intro-area">
                <div class="intro-logo" style="opacity: 1;"><img src="http://static.carminute.co.kr/img/main/intro_logo.png" alt="이미지"></div>
                <div class="title" style="opacity: 1;"><img src="http://static.carminute.co.kr/img/main/intro_title.png" alt="이미지"></div>
                <p class="intro-subment" style="opacity: 1;">카민에서는 전문 상담사가 비용을 최저가로 맞춰드립니다.</p>
                <div class="img-car" style="opacity: 1;">
                    <div class="img-box"><img src="http://static.carminute.co.kr/img/main/intro_car.png" alt="이미지"></div>
                </div>
            </div>
        </div>

        <div class="intro-over-cont">
            <div class="txt-area" style="opacity: 1;">
                <p class="p-txt">
                    <span>최대</span>
                    <span class="mark">2,112,892</span>
                    <span>원 절약</span>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="sect sect-advantage01">
    <div class="contents">
        <div class="sect-container" style="opacity: 1;"><img src="http://static.carminute.co.kr/img/main/cont_advantage01.png" alt="콘텐츠"></div>
    </div>
</section>
<section class="sect sect-advantage02">
    <div class="contents">
        <div class="sect-container" style="opacity: 0;"><img src="http://static.carminute.co.kr/img/main/cont_advantage02.png" alt="콘텐츠"></div>
    </div>
</section>
<section class="sect sect-advantage03">
    <div class="contents">
        <div class="sect-container" style="opacity: 0;"><img src="http://static.carminute.co.kr/img/main/cont_advantage03.png" alt="콘텐츠"></div>
    </div>
</section>
<section class="sect sect-advantage04">
    <div class="contents">
        <div class="sect-container" style="opacity: 0;"><img src="http://static.carminute.co.kr/img/main/cont_advantage04_1.png" alt="콘텐츠"></div>
    </div>
    <div class="contents">
        <div class="sect-container" style="opacity: 0;"><img src="http://static.carminute.co.kr/img/main/cont_advantage04_2.png" alt="콘텐츠"></div>
    </div>
</section>
<section class="sect sect-benefit">
    <div class="contents">
        <div class="sect-container" style="opacity: 0;"><img src="http://static.carminute.co.kr/img/main/cont_benefit.png" alt="콘텐츠"></div>
    </div>
</section>
<section class="sect sect-carlist">
    <div class="contents">
        <div class="sect-container">
            <div class="title-area">
                <p class="title-sub">카민의 BEST 인기차종</p>
                <p class="title-main">인기차종과 할인렌트로!</p>
            </div>
            <p class="sub-ment">
                선수금 : 40%, 48개월 기준<br>
                (보험료 / 자동차세 / 등록세 등 세금 일절 포함 / 추가 차량용품 혜택 (썬팅, 블랙박스 등) 더 이상 내는 가격 없음)
            </p>
            <div class="carlist-area carlist-best">
                <p class="car-title-best">
                    <span class="span-t01">카민 인기차종</span>
                    <span class="span-t02">Best4</span>
                </p>

                <ul class="carlist-ul carlist-best-ul">
                                            <li class="btn-open-consult1" onclick="location.href='/shop/34'">
                            <p class="car-name">아반떼</p>
                            <div class="car-view">
                                <div class="img-box"><img src="http://file.carminute.co.kr/vehicle/TU2y5fmAHffjGrkit5JNFenPyJdFpYcHq403YQDY.png" alt="이미지"></div>
                            </div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">준중형차</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">205,941<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                            <li class="btn-open-consult1" onclick="location.href='/shop/51'">
                            <p class="car-name">그랜저</p>
                            <div class="car-view">
                                <div class="img-box"><img src="http://file.carminute.co.kr/vehicle/MXRhdC8bKAaRCoznoQQjqA62JhcUYjtl767t0dxd.png" alt="이미지"></div>
                            </div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">대형차</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">260,278<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                            <li class="btn-open-consult1" onclick="location.href='/shop/65'">
                            <p class="car-name">GV80</p>
                            <div class="car-view">
                                <div class="img-box"><img src="http://file.carminute.co.kr/vehicle/gAVTC17nB9BVJoWgyrv764ajNGcWmm1VpMQtCxiX.png" alt="이미지"></div>
                            </div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">RV</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">257,093<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                            <li class="btn-open-consult1" onclick="location.href='/shop/72'">
                            <p class="car-name">카니발</p>
                            <div class="car-view">
                                <div class="img-box"><img src="http://file.carminute.co.kr/vehicle/hqVakorCMhkOGYMVTYhE2vLtA64u7KWXBflj8n6X.png" alt="이미지"></div>
                            </div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">승합차</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">241,364<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                    </ul>
            </div>

            <div class="carlist-area">
                <div class="car-brand"><img src="http://static.carminute.co.kr/img/main/brand_hyundai.png" alt="콘텐츠"></div>
                <ul class="carlist-ul">
                                            <li class="btn-open-consult1" onclick="location.href='/shop/22'">
                            <p class="car-name">쏘나타</p>
                            <div class="car-view"><div class="img-box"><img src="http://file.carminute.co.kr/vehicle/ldWEbUSBvE9RNVOwHiABNe6XYXK019nhdEHrs4Io.png" alt="이미지"></div></div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">중형차</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">263,641<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                            <li class="btn-open-consult1" onclick="location.href='/shop/68'">
                            <p class="car-name">투싼</p>
                            <div class="car-view"><div class="img-box"><img src="http://file.carminute.co.kr/vehicle/2w1ZOQcG7XmiiGbeO2JFsDTcJQHy83jkCddAZvE9.png" alt="이미지"></div></div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">RV</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">228,910<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                            <li class="btn-open-consult1" onclick="location.href='/shop/67'">
                            <p class="car-name">팰리세이드</p>
                            <div class="car-view"><div class="img-box"><img src="http://file.carminute.co.kr/vehicle/Wf2d2iMLOpbGphcCFWJwEiERFaazlPLbzHSpcq7O.png" alt="이미지"></div></div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">RV</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">272,109<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                            <li class="btn-open-consult1" onclick="location.href='/shop/66'">
                            <p class="car-name">싼타페</p>
                            <div class="car-view"><div class="img-box"><img src="http://file.carminute.co.kr/vehicle/h8EagiO2T8IIDhEaHMRrwEAfk9g05Rs5WjbGR9Gn.png" alt="이미지"></div></div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">RV</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">222,273<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                    </ul>
            </div>

            <div class="carlist-area">
                <div class="car-brand"><img src="http://static.carminute.co.kr/img/main/brand_genesis.png" alt="콘텐츠"></div>
                <ul class="carlist-ul">
                                            <li class="btn-open-consult1" onclick="location.href='/shop/64'">
                            <p class="car-name">GV70</p>
                            <div class="car-view"><div class="img-box"><img src="http://file.carminute.co.kr/vehicle/oDucjtPJybaJh9pEfK0mIAI34fE6cHC3b2RAnd0E.png" alt="이미지"></div></div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">RV</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">389,744<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                            <li class="btn-open-consult1" onclick="location.href='/shop/50'">
                            <p class="car-name">G80</p>
                            <div class="car-view"><div class="img-box"><img src="http://file.carminute.co.kr/vehicle/142CkfYBAo2AWX2fwhkR06cdvEobKi4uup8Qs0ds.png" alt="이미지"></div></div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">대형차</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">284,454<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                            <li class="btn-open-consult1" onclick="location.href='/shop/49'">
                            <p class="car-name">G70</p>
                            <div class="car-view"><div class="img-box"><img src="http://file.carminute.co.kr/vehicle/GWNAPt0Ve6lt0EKaaJO5znWzgTDzfALqkQFAnqLm.png" alt="이미지"></div></div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">중형차</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">197,840<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                            <li class="btn-open-consult1" onclick="location.href='/shop/47'">
                            <p class="car-name">G90</p>
                            <div class="car-view"><div class="img-box"><img src="http://file.carminute.co.kr/vehicle/sQ8qYiBb5W5uo4MDMfIzJzsUKSOlzTPpda3h7efu.png" alt="이미지"></div></div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">대형차</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">788,887<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                    </ul>
            </div>

            <div class="carlist-area">
                <div class="car-brand"><img src="http://static.carminute.co.kr/img/main/brand_kia.png" alt="콘텐츠">
                </div>
                <ul class="carlist-ul">
                                            <li class="btn-open-consult1" onclick="location.href='/shop/39'">
                            <p class="car-name">모닝</p>
                            <div class="car-view"><div class="img-box"><img src="http://file.carminute.co.kr/vehicle/R2iHxSMz3SvPifeozjXS8cGgJKzhlTdSK8Ukcdub.png" alt="이미지"></div></div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">소형</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">114,747<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                            <li class="btn-open-consult1" onclick="location.href='/shop/38'">
                            <p class="car-name">레이</p>
                            <div class="car-view"><div class="img-box"><img src="http://file.carminute.co.kr/vehicle/lnvDQk6qo1hfQ15ZEPIYcmJ7EeRrUDGL88ZZdsi1.png" alt="이미지"></div></div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">소형</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">123,353<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                            <li class="btn-open-consult1" onclick="location.href='/shop/37'">
                            <p class="car-name">K3</p>
                            <div class="car-view"><div class="img-box"><img src="http://file.carminute.co.kr/vehicle/0vUrvzKgOIMyrEIogfQuqlXkgWpgh8tcp3UaDEbM.png" alt="이미지"></div></div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">준중형차</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">194,753<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                            <li class="btn-open-consult1" onclick="location.href='/shop/26'">
                            <p class="car-name">K5</p>
                            <div class="car-view"><div class="img-box"><img src="http://file.carminute.co.kr/vehicle/L4fXeoVH7SAw4Gt2Bb7PSVLI0A5AeBRtoB8OkHzd.png" alt="이미지"></div></div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">중형차</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">222,570<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                            <li class="btn-open-consult1" onclick="location.href='/shop/78'">
                            <p class="car-name">니로</p>
                            <div class="car-view"><div class="img-box"><img src="http://file.carminute.co.kr/vehicle/fPB2lRGEBLnQWG0XtvZ40ZOv1twfwTwxhPhjYKiz.png" alt="이미지"></div></div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">RV</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">238,397<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                            <li class="btn-open-consult1" onclick="location.href='/shop/76'">
                            <p class="car-name">셀토스</p>
                            <div class="car-view"><div class="img-box"><img src="http://file.carminute.co.kr/vehicle/xG2yGt1He1Rk9usFX4KNJGFtnJpvFA4leaSkViEK.png" alt="이미지"></div></div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">RV</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">123,976<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                            <li class="btn-open-consult1" onclick="location.href='/shop/74'">
                            <p class="car-name">쏘렌토</p>
                            <div class="car-view"><div class="img-box"><img src="http://file.carminute.co.kr/vehicle/omABwlua9Z3a2RnKFgs9EwqHCZukQe9cawWqCjCi.png" alt="이미지"></div></div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">RV</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">255,213<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                            <li class="btn-open-consult1" onclick="location.href='/shop/73'">
                            <p class="car-name">모하비</p>
                            <div class="car-view"><div class="img-box"><img src="http://file.carminute.co.kr/vehicle/7so3NXmT9jGWY4IAOMXLetaTuJApJTCY1EbxCoVu.png" alt="이미지"></div></div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">RV</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">402,296<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                    </ul>
            </div>

            <div class="carlist-area">
                <div class="car-brand">
                    <img src="http://static.carminute.co.kr/img/main/brand_ssanyong.png" alt="콘텐츠">
                </div>
                <ul class="carlist-ul">
                                            <li class="btn-open-consult1" onclick="location.href='/shop/81'">
                            <p class="car-name">XM3</p>
                            <div class="car-view"><div class="img-box"><img src="http://file.carminute.co.kr/vehicle/6ZV1YaPjUi3S5iiwgDvb3P5deF7VPGwEMwgUkHgx.png" alt="이미지"></div></div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">RV</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">164,375<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                            <li class="btn-open-consult1" onclick="location.href='/shop/79'">
                            <p class="car-name">QM6</p>
                            <div class="car-view"><div class="img-box"><img src="http://file.carminute.co.kr/vehicle/foCeOAeGy0v6NLmbnaYs0ruFcGJhEdVLDLLQWYAR.png" alt="이미지"></div></div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">RV</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">255,245<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                                                <li class="btn-open-consult1" onclick="location.href='/shop/84'">
                            <p class="car-name">티볼리</p>
                            <div class="car-view"><div class="img-box"><img src="http://file.carminute.co.kr/vehicle/9N0bVDXZu3VDHGLG8H5IYBSiCeWNCMU00VY6HW1q.png" alt="이미지"></div></div>
                            <div class="car-info-box">
                                <ul class="car-info-ul">
                                    <li class="info-grade">
                                        <p class="p-name">등급</p>
                                        <p class="p-cont">RV</p>
                                    </li>
                                    <li class="info-fee">
                                        <p class="p-name">월요금</p>
                                        <p class="p-cont">156,788<span class="span-won">원</span></p>
                                    </li>
                                </ul>
                                <a class="btn-quote">오픈특가 견적보기</a>
                            </div>
                        </li>
                                    </ul>
            </div>
        </div>
    </div>
</section>
<section class="sect sect-qna">
    <div class="contents">
        <div class="sect-container">
            <div class="title-area">
                <p class="title-sub">렌트카가 궁금하다!</p>
                <p class="title-main">신차 장기렌트 FAQ</p>
            </div>
            <div class="qna-area">
                <ul class="qna-ul">
                    <li>
                        <p class="p-q">신차장기렌트카는 무엇인가요?</p>
                        <p class="p-a">신차를 직접 구매 하지 않고 최소 12개월~60개월까지 빌려서 타는 차량 이용 방법이며, 세금, 보험료,
                            차량관리, 사고처리 등 모든 관리 업무를 렌터카 업체에서 대행하여 관리합니다. <br>
                            또한 계약기간 후 타던 차량을 저렴하게 인수 할 수도 있습니다.</p>
                    </li>
                    <li>
                        <p class="p-q">장기렌트카와 리스의 차이점은 무엇인가요?</p>
                        <p class="p-a">신차장기렌트카 : 세금 보험이 포함되어 있고, 번호가 허,하,호로 나옵니다.<br>
                            리스 : 세금 보험이 미포함되어 있고 번호판은 일반 번호입니다.<br>
                            ※ 개인의 조건에 맞게 이용하시면 됩니다.</p>
                    </li>
                    <li>
                        <p class="p-q">가격이 왜 저렴한가요?</p>
                        <p class="p-a">가격은 선수금 또는 보증금 조건과 회사내의 프로모션 조건등으로 가격에 차이가 있습니다. 따라서 그달의 프로모션과 같이 진행될 경우 가격이 많이 낮아지기도 합니다.<br>
                            원하는 차로 견적을 꼭 받아보시기 바랍니다!</p>
                    </li>
                    <li>
                        <p class="p-q">회사 보유된 재고 차량은 아닌가요?</p>
                        <p class="p-a">계약된 차량으로 신차를 구입하여 출고합니다.</p>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
<section class="sect sect-quote">
    <div class="contents">
        <div class="sect-container">
            <div class="title-area">
                <p class="title-sub">최저가로 견적문의하세요</p>
                <p class="title-main">카민에서 최저가 견적받기</p>
            </div>
            <div class="quote-area">
                <form id="rent" method="post">
                    <input type="hidden" name="_token" value="USZFYCLjhlP0QbW4HRuJFjQZNxeGzXaFaWKk24p2">                    <input type="hidden" name="pid" value="home">
                    <input type="hidden" name="temp" value="1">
                    <div class="in-box">
                        <input type="text" name="name" class="in-item in-name" placeholder="이름">
                        <input type="text" name="tel" class="in-item in-phone phone" placeholder="연락처">
                        <input type="text" name="car" class="in-item in-car" placeholder="관심차종 모두입력">
                    </div>
                </form>

                <div class="agree-box">
                    <input type="checkbox" id="in-agree" class="check-agree" checked="">
                    <label for="in-agree" class="label-agree"><span>개인정보수집동의</span></label>
                    <button type="button" class="btn-policy btn-open-policy">보기</button>
                </div>

                <button type="button" class="btn-quote btn-complete" onclick="car.rent(1)">최저가 견적 요청</button>
            </div>
        </div>
    </div>
</section>
            </main>
    <!--사이드-->
    <aside class="side-sect-right">
        <div class="side-area">
            <div class="side-item"><button type="button" class="btn-open-consult"><img src="http://static.carminute.co.kr/img/main/side_banner_quote.png" alt="사이드배너"></button></div>
            <div class="side-item"><a href="https://open.kakao.com/o/sZJy4m0c" target="_blank"><img src="http://static.carminute.co.kr/img/main/side_banner_kakao.png" alt="사이드배너"></a></div>
        </div>
    </aside>
    <!--.//사이드-->

    <!--모바일 바텀버튼(수정_2021_0324)-->
    <div class="btn-bottom-sect show-mobile">
        <div class="btn-area">
            <a href="tel:02-6255-3133" class="btn btn-tel">
                <div class="icon"><img src="http://static.carminute.co.kr/img/common/icon_tel.png" alt="아이콘"></div>
            </a>
            <a href="http://www.carminute.co.kr/rent/info-input" class="btn btn-estimate btn-move-quote">
                <div class="icon"><img src="http://static.carminute.co.kr/img/common/icon_paper.png" alt="이미지"></div>
                <p class="p-txt">견적요청</p>
            </a>
            <a href="https://open.kakao.com/o/sZJy4m0c" class="btn btn-kakao" target="_blank">
                <div class="icon"><img src="http://static.carminute.co.kr/img/common/icon_kakao.png" alt="이미지"></div>
                <p class="p-txt">카톡상담</p>
            </a>
        </div>
    </div>
    <!--./모바일 바텀버튼(수정_2021_0324)-->

    <!--빠른상담신청-->
    <div class="pop-consult-wrap">
        <div class="pop-consult">
            <button type="button" class="btn-close-pop">
                <div class="img-box"><img src="http://static.carminute.co.kr/img/common/icon_close_x.png" alt="이미지"></div>
            </button>
            <div class="pop-area">
                <div class="pop-cont">
                    <div class="logo-top">
                        <img src="http://static.carminute.co.kr/img/common/pop_logo.png" alt="이미지">
                    </div>
                    <p class="pop-title">빠른상담신청</p>

                    <form id="banner" method="post">
                        <input type="hidden" name="_token" value="USZFYCLjhlP0QbW4HRuJFjQZNxeGzXaFaWKk24p2">                        <input type="hidden" name="pid" value="home">
                        <input type="hidden" name="temp" value="2">
                        <div class="in-box">
                            <input type="text" name="rname" autocomplete="off" placeholder="이름">
                            <input type="text" name="rtel" autocomplete="off" class="phone" placeholder="연락처">
                            <input type="text" name="rcar" autocomplete="off" placeholder="차종">
                        </div>
                    </form>

                    <div class="policy-box">
                        <p class="p-txt">개인정보 수집 동의</p>
                        <button type="button" class="btn-policy btn-open-policy">보기</button>
                    </div>

                    <button type="button" class="btn-consult btn-complete" onclick="car.rent(2)">상담신청하기</button>
                    <p class="p-tel">02-6255-3133</p>
                </div>
            </div>
        </div>
    </div>

    <!--정책박스-->
    <div class="pop-policy-wrap">
        <div class="pop-policy">
            <div class="policy-area">
                    <pre class="policy-textarea"><span class="tit-main">개인정보 활용정책 내용</span>

<span class="tit">1. 개인정보의 수집목적 및 이용</span>
  가. 다음과 같은 목적을 위하여 고객님의 개인정보를 수집 및 이용하고 있습니다.
     - 장기렌터카 및 자동차리스  견적상담 및 관련 서비스 제공

<span class="tit">2. 수집하는 개인정보 항목</span>
  가. 개인정보 항목 - 이름, 핸드폰번호,관심차종
  나. 수집방법 - 동의 체크박스에 클릭할 경우, 개인정보수집에 동의한 것으로 간주합니다

<sapn class="tit">3. 개인정보의 보유 및 이용기간</sapn>
  가. 이용자가 제공하는 개인정보는 최종 상담일로부터 1년후 더 이상의 상담이 이뤄지지 않으면 파기합니다.
  나. 이용자가 개인정보의 파기를 요청하는경우  해당 이용자의 개인정보를 파기합니다.
    </pre>
            </div>
            <button type="button" class="btn-close-policy">닫기</button>
        </div>

    </div>
    <!--./정책박스-->

    <!--위로가기 버튼(신규추가 2021_0324)-->
    <div class="fn-up-wrap">
        <div class="fn-up-area">
            <div class="btn-box">
                <button type="button" class="btn-fn-up fn-scroll-up">
                    <div class="img-box"><img src="http://static.carminute.co.kr/img/common/btn_fn_up.png" alt="위로가기"></div>
                </button>
            </div>
        </div>
    </div>
    <!--./위로가기 버튼(신규추가 2021_0324)-->

    <script>
        $(document).ready(function() {
            //==정책박스==
            $(".btn-open-policy").on("click", function() {
                $("body").addClass("overflow-hidden2");
                $(".pop-policy-wrap").show();
            });
            $(".pop-policy-wrap .btn-close-policy").on("click", function() {
                $("body").removeClass("overflow-hidden2");
                $(".pop-policy-wrap").hide();
            });
            //.//==정책박스==

            //==빠른상담신청==
            var $item = $(".btn-open-consult").on("click", function() {
                var idx = $item.index(this);
                var car = $('p.car-name').eq(idx - 1).text();

                $("body").addClass("overflow-hidden");
                $("input[name=rcar]").val(car);
                $(".pop-consult-wrap").show();
            });

            $(".pop-consult-wrap .btn-close-pop").on("click", function() {
                $("body").removeClass("overflow-hidden");
                $(".pop-consult-wrap").hide();
            });

            $(".modal-complete-request .btn-close-pop").on("click", function() {
                $("body").removeClass("overflow-hidden");
                $(".modal-complete-request").hide();
                //빠른상담신청도 켜져 있으면 같이 꺼짐.
                if ($(".pop-consult-wrap").css("display") == "block") {
                    $(".pop-consult-wrap").hide();
                }
            });
        });
    </script>

    <footer class="footer">
        <section class="sect sect-footer">
    <div class="sect-container">
        <div class="footer-top">
            <div class="logo">
                <img src="http://static.carminute.co.kr/img/landing/car_minute/logo_white.png" alt="로고">
            </div>
        </div>

        <div class="footer-bottom">
            <div class="copy-area">
                <p class="copy-company">
                    (주)이비즈네트웍스 대표이사 : 박기범 I 대표전화: 02-6255-3313<br>
                    서울특별시 강남구 테헤란로82길 15,(대치동, 디아이 타워) I 사업자등록번호 : 220-87-30865<br>
                    통신판매업신고번호 : 제 강남-11501호
                </p>
                <p class="copy-company">
                    (주)이비즈에셋 대표이사 : 김영배 I 대표전화: 02-6255-3313<br>
                    강원도 고성군 죽왕면 삼포리 243-13 2층 237호 I 사업자등록번호 : 865-87-00164<br>
                    통신판매업신고번호 : 제 2019-강원 고성군-60호
                </p>
            </div>
            <a href="https://open.kakao.com/o/sZJy4m0c" class="btn-kakao" target="_blank">
                <img src="http://static.carminute.co.kr/img/landing/car_minute/btn_banner_kakao.png" alt="카카오">
            </a>
        </div>
    </div>
</section>

<div class="modal-complete-request">
    <div class="complete-area">
        <button type="button" class="btn-close-complete">
            <img class="show-pc" src="http://static.carminute.co.kr/img/landing/car_minute/btn_close_modal.png" alt="닫기">
            <img class="show-mobile" src="http://static.carminute.co.kr/img/landing/car_minute/btn_close_modal02.png" alt="닫기">
        </button>
        <div class="top-logo">
            <img src="http://static.carminute.co.kr/img/landing/car_minute/complete_top_logo.png" alt="로고">
        </div>
        <div class="message-main">
            <p class="txt-pc">상담요청이 완료되었습니다</p>
            <p class="txt-mobile">상담요청 완료!</p>
        </div>

        <div class="line-bar"></div>
        <p class="message-sub">
            <span id="sname" class="name">이비즈</span>님 전문상담원이 <br><span id="scar" class="car">그랜저</span>차종<br>
            <span id="stel" class="phone">010-1234-5678</span>으로<br>
            <span class="mark">빠르게 연락</span>드리겠습니다.
        </p>
        <a href="/" class="btn-go-complte">확 인</a>
    </div>
</div>


<script>
    $(document).on("keyup", ".phone", function() {
        prev    = $(this).val();
        str     = prev.replace(/[^0-9]/g, "").replace(/(^02|^0505|^01.{1}|^0[0-9]{2})([0-9]+)?([0-9]{4})/,"$1-$2-$3").replace("--", "-");
        $(this).val(str);
    });

    $(document).ready(function() {
        $(".modal-complete-request .btn-close-complete").on("click", function() {
            $("body").removeClass("overflow-hidden");
            $(".modal-complete-request").hide();
        });
    });

    var car = {
        rent: function(a) {
            fm = (a == 1) ? "rent" : "banner";
            name = (a == 1) ? "name" : "rname";
            tel = (a == 1) ? "tel" : "rtel";
            motor = (a == 1) ? "car" : "rcar";

            if(!$("input[name=" + name + "]").val()) {
                alert("이름을 입력해주세요.");
                $("input[name=" + name + "]").focus();
                return;
            }

            if(!$("input[name=" + tel + "]").val()) {
                alert("연락처를 입력해주세요.");
                $("input[name=" + tel + "]").focus();
                return;
            }

            if(!$("input[name=" + motor + "]").val()) {
                alert("차종을 입력해주세요.");
                $("input[name=" + motor + "]").focus();
                return;
            }

            if($('#in-agree').hasClass('check-agree')) {
                if($('#in-agree').is(":checked") == false) {
                    alert('개인정보 수집에 동의 해주세요.');
                    $('#in-agree').focus();
                    return;
                }
            }


            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });

            $.ajax({
                type: 'post',
                data: $('#' + fm).serialize(),
                url: '/ajax/rent/estimate',
                success: function(r) {
                    var data = $.parseJSON(r);

                    $("#sname").html(data.name);
                    $("#stel").html(data.tel);
                    $("#scar").html(data.car);

                    $("body").addClass("overflow-hidden");
                    $(".modal-complete-request").show();
                }
            });
        }
    }
</script>
    </footer>
</div>





<iframe frameborder="0" scrolling="no" style="background-color: transparent; border: 0px; display: none;"></iframe><div id="GOOGLE_INPUT_CHEXT_FLAG" input="" input_stat="{&quot;tlang&quot;:true,&quot;tsbc&quot;:true,&quot;pun&quot;:true,&quot;mk&quot;:true,&quot;ss&quot;:true}" style="display: none;"></div></body></html>